{% extends "blogs/Base.html" %}
{% block content%}
<div class="content-section">
    <h3 style="font-weight: bold">about</h3>
    <p style="color: black; font-size: x-large; background-color: white; font-weight:bold;"> Airline is a company that
        provides air transport services for traveling passengers and freight.
        Airlines utilize aircraft to supply these services and may form partnerships or alliances with other airlines
        for code share agreements, in which they both offer and operate the same flight.
        Airlines may be scheduled or charter operators</p>
</div>

{% endblock content%}
